 <% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>
<div id="form">
  <%= form_tag('/login') do %>
    <div>
      <%= label_tag "Username" %>
      <%= text_field_tag :username %>
    </div>
    <div>
      <%= label_tag "Password" %>
      <%= password_field_tag :password %>
    </div>
    <div>
      <%= hidden_field_tag :lt, @lt.to_s %>
      <%= hidden_field_tag :service, params[:service].to_s unless params[:service].nil? %>
      <%= submit_tag "Login" %>
    </div>
  <% end %>
</div>